@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Dancing+Script:wght@700&family=Inter:wght@300;400&family=PT+Serif:wght@700&family=Roboto:ital,wght@0,900;1,500;1,900&family=Rubik+Moonrocks&family=Splash&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
    text-decoration: none;
}

body {
    background-color: black;
}


