header {
    position: sticky;
    top: 5px;
    height: 200px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: space-around;
    background-color: #6c5807;
}


@media (max-width: 400px) {
    header {
        display: inline;
        position: sticky;
        top: 5px;
        margin: auto;
        background-color: #6c5807;
    }
}

.iconprincipal {
    padding: 2.5rem 2rem 1rem 2rem;
    background-color: #6c5807;

}

.title {
    color: white;
    font-family: 'Concert One', cursive;
    font-size: 22px;
    text-align: center;
    margin: auto;
}

@media (max-width: 400px) {
    .title {
        font-size: 15px;
        text-align: center;
        background-color: #6c5807;
    }
}

h1 {
    margin: 0.5rem;
    background-color: #6c5807;
}

nav {
    display: flex;
    align-items: flex-end;

}

@media (max-width: 400px) {
    nav {
        display: block;
        padding: 1rem;
        background-color: #6c5807;
    }
}

button {
    display: inline-flex;
    align-items: flex-end;
    background-color: transparent;
    border: none;
    margin-bottom: 1rem;
    gap: 1rem;
}

.buttontext {
    border-radius: 1rem;
    background: rgba(255, 61, 0, 0.3);
    padding: 10px 30px 10px 30px;
    text-decoration: none;
}

.buttontext:hover {
    background: white;
}

h3 {
    display: inline;
    margin: none;
    font-size: 22px;
    color: white;
    font-family: 'Concert One', cursive;
}

h3:hover {
    color: black;
}

.fav {
    width: 35px;
    height: 35px;
}