.grid {
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4rem;
    margin: 2rem;
}
.button-img{
    background-image: url('../assets/imgs/añadir.png');
    background-size: cover;
    height: 103px;
    width: 106px;
    background-color: transparent;
    border-bottom: 0px;
    align-self: center;
    border: none;
    cursor: pointer;
}
.button-add{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin: 20px auto;
}
h5{
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Inter;
}

@media (max-width: 400px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin: 0.5rem;
        
    }
}

.box {
    background: rgba(151, 151, 151, 0.19);
    font-family: 'Concert One', cursive;
    text-align: center;
    line-height: 2rem;
}
@media (max-width: 400px) {
    .box {
        display: inline;
    }
}

h4 {
    text-align: center;
    color: white;
    font-size: 1.8rem;
    font-family: 'Concert One', cursive;
}